main {
  
    background-image: url(../img/Fondo3.png);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
}
th {
  color: white;
}
td{
  color: white;
}
/*menu barra*/
.nav-link {
    color: rgb(255, 255, 255) !important; }
  
  nav.navbar {
    background: #ce6502a4 !important; }
  
  .navbar-link {
    color: dimgray !important; }
  
  .nav-link:hover {
    color: #198754 !important; }
  
  main {
    background-color: #f0efef;
    margin-top: 30px; }
  
  .bg-estilo {
    background-size: auto;
    padding-bottom: 20px;
    padding-top: 20px; }

  /*Body Mangas*/
.card{
    width: 230px;
    margin-left: 60px;
}

.card img{
    width: 230px;
    height: 330px;
}

/*Botones*/

#vaciar-carrito{
  background-color: #198754 !important;
  border-color: #198754!important;
  border-style: solid;
  font-family: 'Roboto', sans-serif !important;
  font-style: bold !important;
  color: #ff8800 !important;

}

.btn-sumar{
  background-color: #198754 !important;
  border-color: #198754 !important;
}

.btncomprar-manga{
      color: white !important;
      width: 180px !important;
    margin: 5px; 
    margin-bottom: 15px;
    margin-left: 3px !important;
    background-color: #ff8800 !important;
    border-radius: 0.5rem !important;
    border-color: #ff8800 !important;
}
/*Icono Carrito*/
.bi-cart4{
  margin-right: 10px;
}


p{
  text-align: center;
  font-family: 'Be Vietnam Pro', sans-serif;
}
h5{
  text-align: center;
  font-family: 'Staatliches', cursive;
  font-style: bold;
  color: #198754;
}


/*Footer*/

.textoFooter {
  color: #ff8800;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
}

.subtextoFooter {
  color: #834804;
  font-family: 'Hind Madura', sans-serif;
  letter-spacing: 1px;
}
.imagenLogoFooter {
  height: 150px;
  width: 150px;
}

path{
  color: #834804;
}